vhdlLibs/*
vhdlSrc/*
output/

*~
! .gitkeep
*.vhd
Parser.scala
Lexer.scala

# SBT
project/boot/
target
.history

# Latex
*.aux
*.bbl
*.blg
*.lol
*.lof
*.log
*.out
*.toc
*.pdf

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea/
.idea_modules/

# Netbeans
nbproject/
