vhdlLibs/*
vhdlSrc/*
output/

*~
! .gitkeep
*.vhd
Parser.scala
Lexer.scala

# SBT
project/boot/
target

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea/
.idea_modules/

# Netbeans
nbproject/
